@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700&family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;500;700&family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-color: #B6E0FF;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#main_box {
  width: 40rem;
  height: 33rem;
  background-color: #00111D;
  border-radius: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #B6E0FF;
  font-family: Fira Code;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}

/* input box */
#input_box {
  border-radius: 0.625rem;
  background: #253C4D;
  width: 24rem;
  height: 4rem;
  margin: 0 auto;
  display: flex;
  padding: 1rem;
  gap: 14px;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  width: 20rem;
}

input::placeholder {
  color: #B6E0FF52;
  font-family: Inter;
}

#add_todo {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #B6E0FF;
  background-color: #253C4D;
  color: #B6E0FF;
  cursor: pointer;
}

/* main todo list */
#list_box {
  margin-top: 1rem;
  border-radius: 0.625rem;
  background: #253C4D;
  overflow: auto;
  width: 24rem;
  max-height: 15rem;
  margin: 1.25rem auto 0 auto;
}

.todo {
  border-top: 1px solid rgba(182, 224, 255, 0.32);
  background: #253C4D;
  height: 3.75rem;
  display: flex;
  padding: 1rem;
  gap: 14px;
  align-items: center;
}

.todo:first-child {
  border-top: none;
}

.checkbox {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  border: 1px solid #B6E0FF;
}

.name {
  font-family: Inter;
  font-size: 13px;
}

/* inclomplete todo */
.todo .name {
  color: white;
}

.todo .checkbox {
  background-color: #253C4D;
}

/* finished todo */
.task_finished .name {
  color: #B6E0FF52;
  text-decoration: line-through;
}

.task_finished .checkbox {
  background-color: #B6E0FF;
}